<div class="col">
  <div class="row">
    <carousel>
      <slide>
        <img src="https://via.placeholder.com/800x600?text=TorontoFood1" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="https://via.placeholder.com/800x600?text=TorontoFood2" alt=" second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="https://via.placeholder.com/800x600?text=TorontoFood3" alt="third slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
</div>